@model Week6CapstoneTaskList.Domain.Models.User

<form>
    <div>
        <input type="text" name="username"/>
        </div>
    <div>
        <input type="Password" name="password" />
    </div>
    <div><input type="submit" name="booton">
        </div>
</form>