@model Week6CapstoneTaskList.Domain.Models.User

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        User Email
        <input type="text" name="username" />
    </div>
    <div>
        User Password
        <input type="Password" name="password" />
    </div>
    <div>
        <input type="submit" name="booton">
    </div>
   
}